<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        List Ingredients
    </title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
</head>

<body>
<div class="container-fluid" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        Ingredients
                    </h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive"
                         th:if="${not #lists.isEmpty(recipe.ingredients)}">
                        <table class="table table-hover">
                            <thead class="thead-inverse">
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    View
                                </th>
                                <th>
                                    Update
                                </th>
                                <th>
                                    Delete
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="ingredient : ${recipe.ingredients}">
                                <td th:text="${ingredient.id}">
                                    25
                                </td>
                                <td th:text="${ingredient.amount} + ' ' + ${ingredient.unitOfMeasure.getUnitOfMeasure()} + ' ' + ${ingredient.description}">
                                    Tasty Ingredient
                                </td>
                                <td>
                                    <a href="#"
                                       th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/show'}">
                                        view
                                    </a>
                                </td>
                                <td>
                                    <a href="#"
                                       th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/update'}">
                                        update
                                    </a>
                                </td>
                                <td>
                                    <a href="#"
                                       th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/delete'}">
                                        delete
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>